$primary-color: #66798c;
$secondary-color: #09c;
$error-color: #c54040;
$card-padding: 20px;
$image-padding: 10px;
$image-margin: 10px;
$left-box-width: 65%;
$right-box-width: 33%;
$breakpoint: 768px;