<section class="card">
  <div
    class="box left-box"
    (drop)="onDrop($event, 'left')"
    (dragover)="allowDrop($event)"
  >
    <h3>Unassociated</h3>
    <div
      class="image-container container-left"
      *ngFor="let image of leftBoxImages"
    >
      <span class="number number-left">{{ image.number }}</span>
      <input
        type="checkbox"
        class="image-checkbox"
        [disabled]="checkedImages===1 && !image.checked"
        [(ngModel)]="image.checked"
        (click)="addToCheckedItems($event)"
      />
      <img
        [ngStyle]="image.checked ? { background: '#abd7e5' } : {}"
        [src]="image.url"
        alt="document image"
        draggable="true"
        (dragstart)="onDragStart($event, image)"
      />
    </div>
  </div>

  <div
    class="box right-box"
    (drop)="onDrop($event, 'right')"
    (dragover)="allowDrop($event)"
  >
    <h3>Associated</h3>
    <div class="box-card">
      <h4>{{ "current load " | uppercase }}: 5554332111</h4>
      <div class="red-box">
        <mat-icon>help</mat-icon>
        <span class="saperator">|</span>
        {{ "missing poo" | titlecase }}
      </div>
      <div class="outline-red-box">
        <mat-icon>description</mat-icon>
        <span class="saperator">|</span>
        {{ "Unassociated Document" | titlecase }}
      </div>

      <div
        class="image-container container-right"
        *ngFor="let image of rightBoxImages"
      >
        <span class="number number-right">{{ image.number }}</span>
        <input
          type="checkbox"
          class="image-checkbox"
          [(ngModel)]="image.checked"
        />
        <img
          [src]="image.url"
          alt="document image"
          draggable="true"
          (dragstart)="onDragStart($event, image)"
        />
      </div>
    </div>
  </div>
</section>
