@import "../styles/abstracts/index";
.card {
  border: 5px solid $primary-color;
  min-height: 95vh;
  display: flex;
  flex-wrap: wrap;
  background-color: $primary-color;
  h3 {
    color: $primary-color;
  }
}

.box {
  @include border-box;
  padding: $card-padding;
}
.image-container {
  @include image-container;
}
.container-left {
  width: 25%;
}
.container-right {
  width: 20%;
}
.number {
  position: absolute;
  border: 1px solid $secondary-color;
  background-color: $secondary-color;
  color: #fff;
}
.number-left {
  bottom: 4%;
  left: 3%;
  padding: 5px;
}
.number-right {
  position: absolute;
  bottom: 12%;
  left: 7%;
}
.image-checkbox {
  position: absolute;
}
img {
  border: 1px solid $secondary-color;
  padding: $image-padding;
  margin: $image-margin;
}
.left-box {
  flex: 2 1 $left-box-width;
  background-color: #fff;
  margin-right: 1%;
  img {
    width: 80%;
  }
}
.saperator {
  margin: 0 10px;
}
.right-box {
  flex: 1 1 $right-box-width;
  background-color: #fff;
  margin-left: 1%;
  img {
    width: 60%;
  }
}
.red-box {
  background: $error-color;
  color: #fff;
  padding: 8px 10px;
  margin-bottom: 10px;
  @include flex-center;
}

.outline-red-box {
  border: 1px solid $error-color;
  color: $error-color;
  padding: 8px 10px;
  margin-bottom: 10px;
  @include flex-center;
}

.box-card {
  border: 1px solid #abd7e5;
  background: #fff;
  padding: 10px;
  @include box-shadow(#abd7e5);
}

h4 {
  color:gray;
  font-weight: 600;
}

@media (max-width: $breakpoint) {
  .left-box {
    flex: 1 1 100%;
    margin: 0;
  }

  .right-box {
    flex: 1 1 100%;
    margin: 0;
  }

  .right-box img {
    width: 30% !important;
  }

  .number {
    padding: 0px;
  }
}
